---
- name: Create Grafana data directory
  file:
    path: "{{ grafana_data_dir }}"
    state: directory
    mode: '0755'
    owner: '472'
    group: '472'

- name: Deploy Grafana container
  docker_container:
    name: "{{ grafana_container_name }}"
    image: "{{ grafana_image }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network_name }}"
    ports:
      - "{{ grafana_port }}:3000"
    env:
      GF_SERVER_SERVE_FROM_SUB_PATH: "false"
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
    volumes:
      - "{{ grafana_data_dir }}:/var/lib/grafana"
      - "./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards"
      - "./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources"
      - "./grafana/dashboards:/var/lib/grafana/dashboards"
    user: "472"
    restart: true