---
- name: Create Promtail config directory
  file:
    path: "{{ promtail_config_dir }}"
    state: directory
    mode: '0755'

- name: Copy Promtail config file
  template:
    src: promtail-config.yml.j2
    dest: "{{ promtail_config_dir }}/promtail-config.yml"
    mode: '0644'

- name: Deploy Promtail container
  docker_container:
    name: "{{ promtail_container_name }}"
    image: "grafana/promtail:{{ promtail_version }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network_name }}"
    volumes:
      - "{{ promtail_config_dir }}/promtail-config.yml:/etc/promtail/config.yml"
      - "/var/log:/var/log"
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      - "{{ docker_volume_logs_name }}:/var/log/bluenet-3ps-backend"
    command:
      - "-config.file=/etc/promtail/config.yml"