---
- name: Ensure Prometheus data directory exists with proper permissions
  file:
    path: "{{ prometheus_data_dir }}"
    state: directory
    mode: "0777"
    recurse: yes

- name: Deploy Prometheus container
  docker_container:
    name: "{{ prometheus_container_name }}"
    image: "prom/prometheus:{{ prometheus_version }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network_name }}"
    ports:
      - "{{ prometheus_port }}:9090"
    volumes:
      - "{{ prometheus_data_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{ prometheus_data_dir }}:/prometheus"
    user: "65534:65534"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
      - "--web.external-url=http://220.231.94.117:9091"
      - "--web.listen-address=0.0.0.0:9090"
