---
- name: Create required directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ grafana_data_dir }}"
    - "{{ prometheus_data_dir }}"

- name: Copy Prometheus configuration
  template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_data_dir }}/prometheus.yml"
    mode: "0644"

- name: Create Docker network for monitoring
  docker_network:
    name: "{{ docker_network_name }}"
    state: present

- name: Ensure Prometheus datasource provisioning folder exists
  file:
    path: ./grafana/provisioning/datasources
    state: directory
    recurse: true

- name: Copy Prometheus datasource provisioning file
  template:
    src: datasource.yml.j2
    dest: ./grafana/provisioning/datasources/datasource.yml
    mode: "0644"
