apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ prometheus_container_name }}:{{ container_prometheus_port }}
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ loki_container_name }}:{{ container_loki_port }}
    isDefault: false
    editable: false